<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원정보 처리 SQL -->
<mapper namespace="com.cjlee.lottecard.mapper.MemberMapper">

	<!-- 회원 정보 저장 -->
	<insert id="insertMember" parameterType="member">
		insert into lc_members (
			id
			,name
			,telephone
			,registeredDate
			,registeredPlace
			,hasTmoney
			,hasAutopay
			
		)
		values (
			lc_members_SEQ.nextval
			,#{name}
			,#{telephone}
			,#{registeredDate}
			,#{registeredPlace}
			,#{hasTmoney}
			,#{hasAutopay}
			
		)
	</insert>
	
	<!-- 모든 회원 정보 -->
	<select id="selectMember" resultType="member">
		SELECT
			id
			,name
			, telephone
			, TO_CHAR(registeredDate, 'YYYY/MM/DD') as registeredDate
		FROM
			lc_members
		ORDER BY
			registeredDate ASC
	</select>
	
	<!-- 월별 회원 정보 -->
	<select id="selectMemberByMonth" parameterType="HashMap" resultType="member">
		select
			id
			,name
			, telephone
			, TO_CHAR(registeredDate, 'YYYY/MM/DD') as registeredDate
			, registeredPlace
			, hasTmoney
		from
			lc_members
		WHERE
			registeredDate
			BETWEEN TO_DATE(#{firstDate},'YYYY/MM/DD')
			AND TO_DATE(#{lastDate},'YYYY/MM/DD') 
		order by
			<choose>
				<when test="_parameter.get('sorting') == 'name'">
					name ASC
				</when>
				<when test="_parameter.get('sorting') == 'regiDate'">
					registeredDate ASC
				</when>
			</choose>
	</select>	
	
	<!-- 이름으로 고객 정보 검색 -->
	<select id="searchMemberByName" parameterType="String" resultType="member">
		SELECT
			id
			,name
			, telephone
			, TO_CHAR(registeredDate, 'YYYY/MM/DD') as registeredDate
			, registeredPlace
			, hasTmoney
		FROM
			lc_members
		WHERE
			name LIKE #{nameForSearch}
		ORDER BY
			registeredDate DESC
	</select>
</mapper>
